/* /Shared/AdminMenu.razor.rz.scp.css */
.top-row a[b-2ejgqupoph] {
    margin-left: 0 !important;
}

.dropdown-item:hover[b-2ejgqupoph] {
    background-color: white;
}
/* /Shared/HomeButton.razor.rz.scp.css */
.home-button[b-aziqwah93k] {
    white-space: nowrap;
    margin-right: 10px;
    transform: rotate(-5deg);
}
